[submodule "aws-encryption-sdk-net-formally-verified/TestVectors/resources/aws-encryption-sdk-test-vectors"]
	path = aws-encryption-sdk-net/TestVectors/resources/aws-encryption-sdk-test-vectors
	url = https://github.com/awslabs/aws-encryption-sdk-test-vectors.git
